<div class="container mx-auto p-4">
  <div class="flex justify-center">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 w-full max-w-screen-lg p-4">
      <div *ngFor="let theme of themes" class="bg-gray-200 rounded-lg p-6">
        <h2 class="text-lg font-bold mb-2">{{ theme.title }}</h2>
        <p class="mb-4">{{ theme.description }}</p>
        <button
          class="block mx-auto bg-purple-500 text-white py-2 px-4 rounded"
          (click)="subscribeTheme(theme.id)"
        >
          {{ isSubscribed(theme.id) ? 'Se désabonner' : "S'abonner" }}
        </button>
      </div>
    </div>
  </div>
</div>
